
@import "../../global.scss";

.portfolio {
  background-image: linear-gradient(to top, #96cfe2 0%, #8585a3 100%);
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 50px;
    color:$mainColor;

      @include mobile{
      font-size: 20px;
    }
    
  }

  ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;

     @include mobile{
      margin: 10px 0;
      flex-wrap: wrap;
      justify-content: center;
    }

    
  }

  li{
    padding: 20px;
    color:$mainColor;
  }

 
  .container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

      @include mobile{
      width: 100%;
    }

   

    .item {
      width: 300px;
      height: 150px;
      border-radius: 20px;
      border: 1px solid rgb(240, 239, 239);
      margin: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: relative;
      transition: all .5s ease;
      cursor: pointer;

       @include mobile{
        width: 140px;
        height: 110px;
        overflow: hidden;
      }

 

      a {
        position: absolute;
        font-size: 20px;
        color:$mainColor;
        text-decoration: none;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;

           @include mobile{
        border-radius: 10%;
        margin-top:20px;
        height: 130px;
       
      }


      }

      &:hover {
        background-color: #8585a3;
        img {
          opacity: 0.2;
          z-index: 0;
        }
      }
    }
  }
}